body {
  font-size: 1.5rem;
  font-family: courier;
}

i {
  font-size: 3rem;
  cursor: pointer;
  margin: auto;
}

i:hover {
  color: white;
}

.quote {
  margin-top: 15%;
}

.main-img {
  z-index: -1;
  position: absolute;
}
